<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mira Thope">
    <meta name="description" content="Mira Thope's Professional Website">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Mira Thope</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Mira Thope</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"> </h2> 
        <img class="classA" src="../static/photoOfMe.png" alt="Mira Thope profile image"
        width="250px"> 
        <div class="classA" style="width:40%">
        <!-- <p id="intro"> I am a freshman at Carnegie Mellon University studying Information Systems. Throughout my years at CMU, I hope to concentrate in UI/UX design and pursue a minor in Human-Computer Interaction. Outside of academics, I love to dance. I began to dance at the age of 7, participating in an Indian classical dance form known as Kathak. After more than a decade, I have completed all my levels of certification and have continued my passion by joining the CMU Bhangra team. I also love to travel, especially to tropical destinations, bake any dessert (but chocolate is the superior flavor), and watch TV shows and movies. I have thoroughly enjoyed my experience and CMU so far and cannot wait for what is to come! </p> -->
        <span id="shortIntro">I am a freshman at Carnegie Mellon University studying Information Systems. Throughout my years at CMU, I hope to concentrate in UI/UX design and pursue a minor in Human-Computer Interaction. Outside of academics, I love to dance. I began to dance at the age of 7, participating in an Indian classical dance form known as Kathak.</span>
        <span id="readMore"> read more ...</span>
        <span id="longIntro" style="display: none;">After more than a decade, I have completed all my levels of certification and have continued my passion by joining the CMU Bhangra team. I also love to travel, especially to tropical destinations, bake any dessert (but chocolate is the superior flavor), and watch TV shows and movies. I have thoroughly enjoyed my experience and CMU so far and cannot wait for what is to come!</span>
        <span id="readLess" style="display: none;"> read less</span>
    </div>
        
    </div>
    <footer>
        <p id="copyYear">Mira Thope &copy</p>
    </footer>
</body>
</html>